body {
    background-color: #202120;
    height: 97.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    height: 100vh;
}

.board {
    height: 500px;
    width: 500px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.array-div {
    color: white;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Noto Sans JP', sans-serif;
    margin: 20px;
    border-radius: 5%;
    border: 1px solid #FA2FB5;
}

.indicator {
    height: 40px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.btn-restart {
    margin-top: 10px;
    height: 40px;
    width: 70px;
    cursor: pointer;
    border: none;
    color: white;
    background-color: #202120;
    transition: 0.2s;
    border-radius: 5%;
}

.btn-restart:hover {
    background-color: white;
    color: #202120;
}